body{
    background-size: cover;
    color: white;
}
.firstpage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Link{
    font-family: starWar;
    text-decoration: none;
    color: #adb8d1;
    font-size:50px ;
    transition: text-shadow 1s ,font-size 1s;
}

.figures{
    z-index: -1000;
    overflow: hidden;
    width: 150px;
    top: 50%;
    left: 45%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
@keyframes movement1{
    0%{
        top:45%;
        opacity: 0;
    }
    100%{
        top:10%;
        opacity: 1;
    }
}
@keyframes movement2{
    0%{
        top:45%;
        left: 50%;
        opacity: 0;
    }
    100%{
        top:30%;
        left:10%;
        opacity: 1;
    }
}
@keyframes movement3{
    0%{
        top:45%;
        left: 50%;
        opacity: 0;
    }
    100%{
        top:30%;
        left: 70%;
        opacity: 1;
    }
}
@keyframes movement4{
    0%{
        top:45%;
        left: 50%;
        opacity: 0;
    }
    100%{
        top:55%;
        left:70%;
        opacity: 1;
    }
}

@keyframes movement5{
    0%{
        top:45%;
        left: 50%;
        opacity: 0;
    }
    100%{
        top:70%;
        left:20%;
        opacity: 1;
    }
}
.Link:hover{
    text-shadow: 0 0 10px #2600ff,
    0 0 20px #bac8d8,
    0 0 80px #7a9cc9,
    0 0 120px #5d73b1;
    font-size: 72px;
}

.Link:hover ~ #figureone{
    animation: movement2 2s forwards;
}

.Link:hover ~ #figuretwo{
    animation: movement3 2s forwards;
}

.Link:hover ~ #figurethree{
    animation: movement4 2s forwards;
}

.Link:hover ~ #figurefour{
    animation: movement1 2s forwards;
}

.Link:hover ~ #figurefive{
    animation: movement5 2s forwards;
}

.container{
    #title{
        font-size: 50px;
        text-align: center;
        font-family: starWar;
    }
}

.main-div{
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    .movies{
        height: 100%;
        width: 20%;
        box-shadow: 14px 0 14px -17px #3e78f5;

        h2{
            text-align: center;
            margin-top: 0px;
        }
        ul{
            list-style-type: none;
            li{
                margin-top: 40px;
                margin-bottom: 40px;

            }
            li :hover{
                cursor: pointer;
                color: #5789f3;
                text-shadow: 0 0 10px #3e78f5,
                             0 0 20px #3e78f5,
                             0 0 80px #3e78f5,
                             0 0 120px #3e78f5,
            }
        }
    }
    .moviesExpand{
        width: 70%;
        margin-top: 43px;
        #favoriteIcon{
            margin:0px;
            background-color: transparent;
            border: 0px;
            cursor: pointer;
            border-radius: 30px;
        }
        .MuiSvgIcon-colorAction{
            color: white;
        }
    }
}

#movieDataContainer{
    #iconContainer{
        text-align: right;
    }
    .accordion{
        background-color: transparent;
        color: rgb(214, 214, 214);
        border-bottom: 0px;
        .iconColor{
            color: #65a2ff;
        }
        
    }
    .accSummary{
        padding-left: 0px;

    }
    b{
        color: rgb(101, 162, 255);
    }
}

@media screen and (max-width: 760px) {
    body{
        font-size: small;
    }
    .main-div{
        .movies{
            width: 36%;
            font-size: small;
            box-shadow: 14px 0 14px -21px #3e78f5;
            ul{
                padding-left: 10px;
            }
        }
        .moviesExpand{
            width: 55%;
            font-size: small;
            .MuiTypography-body1{
                font-size: small;
            }
        }
    }
}

