body {
  background-size: cover;
  color: white;
}

.firstpage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.Link {
  font-family: starWar;
  text-decoration: none;
  color: #adb8d1;
  font-size: 50px;
  -webkit-transition: text-shadow 1s ,font-size 1s;
  transition: text-shadow 1s ,font-size 1s;
}

.figures {
  z-index: -1000;
  overflow: hidden;
  width: 150px;
  top: 50%;
  left: 45%;
  height: auto;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@-webkit-keyframes movement1 {
  0% {
    top: 45%;
    opacity: 0;
  }
  100% {
    top: 10%;
    opacity: 1;
  }
}

@keyframes movement1 {
  0% {
    top: 45%;
    opacity: 0;
  }
  100% {
    top: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes movement2 {
  0% {
    top: 45%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 30%;
    left: 10%;
    opacity: 1;
  }
}

@keyframes movement2 {
  0% {
    top: 45%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 30%;
    left: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes movement3 {
  0% {
    top: 45%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 30%;
    left: 70%;
    opacity: 1;
  }
}

@keyframes movement3 {
  0% {
    top: 45%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 30%;
    left: 70%;
    opacity: 1;
  }
}

@-webkit-keyframes movement4 {
  0% {
    top: 45%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 55%;
    left: 70%;
    opacity: 1;
  }
}

@keyframes movement4 {
  0% {
    top: 45%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 55%;
    left: 70%;
    opacity: 1;
  }
}

@-webkit-keyframes movement5 {
  0% {
    top: 45%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 70%;
    left: 20%;
    opacity: 1;
  }
}

@keyframes movement5 {
  0% {
    top: 45%;
    left: 50%;
    opacity: 0;
  }
  100% {
    top: 70%;
    left: 20%;
    opacity: 1;
  }
}

.Link:hover {
  text-shadow: 0 0 10px #2600ff, 0 0 20px #bac8d8, 0 0 80px #7a9cc9, 0 0 120px #5d73b1;
  font-size: 72px;
}

.Link:hover ~ #figureone {
  -webkit-animation: movement2 2s forwards;
          animation: movement2 2s forwards;
}

.Link:hover ~ #figuretwo {
  -webkit-animation: movement3 2s forwards;
          animation: movement3 2s forwards;
}

.Link:hover ~ #figurethree {
  -webkit-animation: movement4 2s forwards;
          animation: movement4 2s forwards;
}

.Link:hover ~ #figurefour {
  -webkit-animation: movement1 2s forwards;
          animation: movement1 2s forwards;
}

.Link:hover ~ #figurefive {
  -webkit-animation: movement5 2s forwards;
          animation: movement5 2s forwards;
}

.container #title {
  font-size: 50px;
  text-align: center;
  font-family: starWar;
}

.main-div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.main-div .movies {
  height: 100%;
  width: 20%;
  -webkit-box-shadow: 14px 0 14px -17px #3e78f5;
          box-shadow: 14px 0 14px -17px #3e78f5;
}

.main-div .movies h2 {
  text-align: center;
  margin-top: 0px;
}

.main-div .movies ul {
  list-style-type: none;
}

.main-div .movies ul li {
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-div .movies ul li :hover {
  cursor: pointer;
  color: #5789f3;
  text-shadow: 0 0 10px #3e78f5, 0 0 20px #3e78f5, 0 0 80px #3e78f5, 0 0 120px #3e78f5;
}

.main-div .moviesExpand {
  width: 70%;
  margin-top: 43px;
}

.main-div .moviesExpand #favoriteIcon {
  margin: 0px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  border-radius: 30px;
}

.main-div .moviesExpand .MuiSvgIcon-colorAction {
  color: white;
}

#movieDataContainer #iconContainer {
  text-align: right;
}

#movieDataContainer .accordion {
  background-color: transparent;
  color: #d6d6d6;
  border-bottom: 0px;
}

#movieDataContainer .accordion .iconColor {
  color: #65a2ff;
}

#movieDataContainer .accSummary {
  padding-left: 0px;
}

#movieDataContainer b {
  color: #65a2ff;
}

@media screen and (max-width: 760px) {
  body {
    font-size: small;
  }
  .main-div .movies {
    width: 36%;
    font-size: small;
    -webkit-box-shadow: 14px 0 14px -21px #3e78f5;
            box-shadow: 14px 0 14px -21px #3e78f5;
  }
  .main-div .movies ul {
    padding-left: 10px;
  }
  .main-div .moviesExpand {
    width: 55%;
    font-size: small;
  }
  .main-div .moviesExpand .MuiTypography-body1 {
    font-size: small;
  }
}
/*# sourceMappingURL=style.css.map */